{% extends "layouts/base.html" %} 

{% block extra_css %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/navbar.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/landing.css') }}"
/>
{% endblock %}

{% block title %}Calculadora de Notas - Agregar Curso{% endblock %}

{% block content %}

<section class="hero-section">
  <div class="hero-content">
    <div class="hero-field">
      <h1 style="text-align:center; font-size: 32px; margin-bottom: 20px">Agrega un nuevo ramo</h1> 
     
      <div style="display:flex; justify-content: space-between; align-items: center; gap: 20px; margin-bottom: 30px">
        <div style="flex: 3; display:flex; flex-direction: column">
          <h3>Nombre</h3>
          <input id="nombre" class="hero-input" required type="text" name="Nombre del ramo" placeholder="Ingrese el nombre del ramo...">

          <h3 style="margin-top: 20px">Sigla</h3>
          <input id="sigla" class="hero-input" required type="text" name="Sigla del ramo" placeholder="Ingrese el nombre del ramo...">
        </div>

        <div style="flex: 1; display: flex; justify-content: left; align-items: center">
          <button id="sigla" class="btn-symbol" title="Cambiar simbolo del ramo">
          <img src="{{ url_for('static', filename='svg/book.svg') }}" width="40" height="40" style="display: block; background: purple">

          </button>
        </div>
      </div>
      
      <!-- Hardcodeado pq si xD -->
      <div class="categorias-container">
        <div class="categorias-item">
          <label class="hero-label"><b>Certámenes</b></label>
          <input id="certamenes" class="hero-input input-centrado" type="number" value="1" max="100" min="0">
        </div>
        
        <div class="categorias-item">
          <label class="hero-label"><b>Controles</b></label>
          <input id="controles" class="hero-input input-centrado" type="number" value="1" max="100" min="0">
        </div>
      
        <div class="categorias-item">
          <label class="hero-label"><b>Tareas</b></label>
          <input id="tareas" class="hero-input input-centrado" type="number" value="1" max="100" min="0">
        </div>
        
        <div class="categorias-item">
          <label class="hero-label"><b>Proyectos</b></label>
          <input id="proyectos" class="hero-input input-centrado" type="number" value="1" max="100" min="0">
        </div>
        
        <div class="categorias-item">
          <label class="hero-label"><b>Laboratorios</b></label>
          <input id="laboratorios" class="hero-input input-centrado" type="number" value="1" max="100" min="0">
        </div>
      </div>

      <label class="hero-label" style="margin-top: 30px"><b>Reglas</b></label>
      <button id="btnAgregarRegla" class="btn-nueva-regla" title="agregar nueva regla" style="margin-top: 30px">+</button>

      <div id="contenedorReglas" style="display: flex; flex-direction: column; gap: 10px; margin-top: 15px;">
        <div class="fila-regla">
          <input type="text" class="input-reglas" placeholder="Escribe tu regla aqui..." value="NF >= 55" style="flex: 1"></input>
          <button class="btn-borrar-regla" title="Borrar regla">X</button>
        </div>
      </div>

      <h3 class="hero-label" style="margin-top: 30px"><b>Formula</b><h3>
      <input id="formula" class="hero-input" type="text" placeholder="Ingrese su formula para el ramo" style="width: 100%"></input>
      
      <button id="btnSubmit" class="btn-submit">Download</button>
    </div>
  </div>
</section>

<!-- Me ha dado demasiada paja crear un archivo para el js'-->
<script>
  const botonAgregar = document.getElementById('btnAgregarRegla');
  const contenedor = document.getElementById('contenedorReglas');
  const btnSubmit = document.getElementById('btnSubmit');

  botonAgregar.addEventListener('click', function() {
    
    const cajaFila = document.createElement('div');
    cajaFila.className = 'fila-regla';

    const nuevoInput = document.createElement('input');
    nuevoInput.type = 'text';
    nuevoInput.className = 'input-reglas'; 
    nuevoInput.placeholder = 'Escribe tu regla aqui...';
    nuevoInput.style.flex = '1';

    const btnBorrar = document.createElement('button');
    btnBorrar.className = 'btn-borrar-regla';
    btnBorrar.innerText = 'X';
    btnBorrar.title = 'Borrar regla';

    btnBorrar.addEventListener('click', function() {
      cajaFila.remove(); 
    });

    cajaFila.appendChild(nuevoInput);
    cajaFila.appendChild(btnBorrar);

    contenedor.appendChild(cajaFila);
    
  });

  btnSubmit.addEventListener('click', function() {
    const nombreRamo = document.getElementById('nombre').value;
    const siglaRamo = document.getElementById('sigla').value;
    const certamenes = document.getElementById('certamenes').value;
    const controles = document.getElementById('controles').value;
    const tareas = document.getElementById('tareas').value;
    const proyectos = document.getElementById('proyectos').value;
    const laboratorios = document.getElementById('laboratorios').value;
    const formula = document.getElementById('formula').value;

    const inputsReglas = document.querySelectorAll('.input-reglas');
    const reglasArray = [];
    
    inputsReglas.forEach(function(input) {
      if(input.value.trim() !== '') {
        reglasArray.push(input.value);
      }
    });

    const datosRamo = {
      nombre: nombreRamo,
      sigla: siglaRamo,
      evaluaciones: {
        Certamen: parseInt(certamenes),
        Control: parseInt(controles),
        Tarea: parseInt(tareas),
        Proyecto: parseInt(proyectos),
        Laboratorio: parseInt(laboratorios)
      },
      reglas: reglasArray,
      formula: formula
    };

    fetch('/api/curso/create', {  
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'       
      },
      body: JSON.stringify(datosRamo)          
    })
    .then(response => {
      if (!response.ok) throw new Error('Error en el servidor');
      return response.json();
    })
    .then(data => {
      if (data.download == true) {
        const jsonString = JSON.stringify(data.data, null, 2);
        const blob = new Blob([jsonString], { type: 'application/json' });

        const url = window.URL.createObjectURL(blob);
        const enlaceOculto = document.createElement('a');
        enlaceOculto.style.display = 'none';
        enlaceOculto.href = url;
        enlaceOculto.download = data.data.meta.code;

        document.body.appendChild(enlaceOculto);
        enlaceOculto.click();

        window.URL.revokeObjectURL(url);
        document.body.removeChild(enlaceOculto);
      
      }
      console.log('Éxito:', data);
      alert('Ramo guardado correctamente!');
      window.location.href = '/'; 
    })
    .catch((error) => {
      console.error('Error al enviar:', error);
      alert('Hubo un problema al guardar el ramo.');
    });
  });

</script>

{% endblock %}
